.sub-menu
{
    display: block;
    text-align: center;
}
.sub-menu ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.sub-menu ul li
{
    width: 120px;
    margin:15px;
    padding: 15px;
}
.sub-menu ul li a
{
    text-decoration: none;
    color:white;
}
.active, .sub-menu ul li:hover
{
    background-color: #2bab0d;
    border-radius: 3px;
}